.services{
  padding-top: 10rem;
  width: 100%;
  &_title{
    color: #5B3992;
    font-size: 26px;
    font-weight: 500;
  }
  &_description{
    padding-top: 20px;
    font-size: 20px;
    font-weight: 400;
  }
  &_section{
   width: 40%;
  }
}
.title{
  font-size: 36px;
  font-weight: 500;
}
.description {
  display: flex;
  gap: 10%;
  padding-top: 70px;
}