.footer {
  width: 100%;
  height: auto;
  background: #28114F;
  justify-content: center;
  &_container{
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  .block_logo{
    left: 0;
    padding-top: 20px;
  }
}
.links_container {
  width: 50%;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-left: 6rem;
  gap: 60px;
  .links{
    font-size: 18px;
    color: #FDFDFD;
  }
}
.contact{
  width: 40%;
  padding-top: 2rem;
  padding-left: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: static;
  &_logo {
    display: flex;
    justify-content: end;
    gap: 35px;
  }
  &_container{
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 10px;
  }
  &_text{
    font-size: 20px;
    font-weight: 500;
    text-align: end;
    color: #FDFDFD;
  }
  &_year{
    display: flex;
    justify-content: end;
    padding-top: 20px;
    padding-bottom: 10px;
  }
}
